nav{
    padding: 2px;
    display: flex;
    justify-content:space-between;
}

nav li{
    list-style: none;
    display: inline;
    display: flex;
}

nav a{
    color: #7f88cc;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav a:hover{
    text-decoration: none;
    color: rgb(145, 154, 167);
}

#hr-nav{
    border-top: 0;
    border-bottom: 1px solid #6a71a7

}

.main-nav{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.right-nav{
    display: inline;
    margin-right: 30px;
}

.main-nav li{
    display: inline;
}

.right-nav{
    display: flex;
    justify-content: right;
    align-items: center;
}