nav li{
    list-style: none;
    display: block;
}

nav a{
    color: #7f88cc;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px; 
}

nav a:hover{
    text-decoration: none;
    color: rgb(145, 154, 167);
}

#hr-nav{
    border-top: 0;
    border-bottom: 1px solid #6a71a7

}

.main-nav li{
    display: inline;
}